body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#chat-messages {
    min-height: 10vh;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}

#battleUI {
    display: none;
}

#ownLifeBar {
    width: 48%;
    background-color: grey;
    float:left;
}

#ownLife {
    height: 30px;
    width: 50%;
    background-color: green;
    float:left;
}
#enemyLifeBar {
    width: 48%;
    background-color: grey;
    float:right;
}

#enemyLife {
    height: 30px;
    width: 70%;
    background-color: green;
    float:right;
}